<div class="container">
  <!--Imagem-->
  <div class="form-image">
    <img src="../images/carro.png" alt="" />
  </div>
  <!-- Forms -->
  <div class="form">
    <!-- cabeça do cadastro -->







    {{#if driver}}
    <form action="/create" method="post" class="backwhite">
      <div class="form-header">
        <div class="title">
          <h1>Crie seu post de carona</h1>
        </div>
      </div>

      <div class="input-group">
        <div class="input-box">
          <label>Faculdade</label>
          <input
            name="starterCity"
            type="text"
            placeholder="Selecione sua faculdade"
            required
          />
        </div>

        <div class="input-box">
          <label>Chegada</label>
          <input
          name="finalCity"
            type="text"
            placeholder="Local de chegada"
            required
          />
        </div>

        <div class="input-box">
          <label>Data</label>
         <input type="date" id="start" name="date"
       value="">
        </div>

        <div class="input-box" id="time">
          <label>Hora</label>
         <input type="time" name="time"
       value="">
        </div>

        <div class="input-box">
          <label>Preço</label>
         <input type="text" name="price" placeholder="R$1,00">
        </div>
      </div>
       <div class="continue-button-home">
        <input type="submit" class="btn btn-primary" value="Criar carona">
      </div>
    </form>








  {{else}}
  <div class="form-motorista">
    <form action="/search" method="post" class="backwhite">
      <div class="form-header">
        <div class="title">
          <h1>Seja bem vindo</h1>
        </div>
      </div>

      <div class="input-group">
        <div class="input-box">
          <label>Faculdade</label>
          <input
            type="text"
            placeholder="Selecione sua faculdade"
            required
            name="starterCity"
          />
        </div>

        <div class="input-box">
          <label>Chegada</label>
          <input
            type="text"
            name="finalCity"
            placeholder="Local de chegada"
            required
          />
        </div>

        <div class="input-box">
          <label>Data</label>
         <input type="date" id="start" name="date"
       value="">
        </div>
      </div>
       <div class="continue-button-home">
        <input type="submit" class="btn btn-primary" value="Procurar carona">
      </div>
    </form> 
  </div>
  {{/if}}
  

  </div>
  </div>
<div class="container">
<div class="main-container">
  {{#if runs}}
    {{#each data}}
      {{#dataValues}}

            <div class="card">
                <h1>{{date}}</h1>
                <div class="content">
                  <p> De: {{starterCity}}
                  <p>Para: {{finalCity}} </p>
                  <p>{{time}}</p>
                  <p>R${{price}}</p>
                  </p>
                  <button class="btn btn-light">Clique para entrar em contato</button>
                </div>  
              </div>
      {{/dataValues}}
    {{/each}}
  {{/if}}
</div>
</div>